@keyframes animeOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animeTop {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes animeBottom {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes animeLeft {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes animeRight {
  from {
    transform: translateX(10px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes animeSize {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
