.woocommerce-checkout,
.woocommerce-account {
  .woocommerce {
    margin-top: 60px;
    margin-bottom: 120px;
  }

  .woocommerce-checkout-payment,
  .woocommerce-MyAccount-content {
    .woocommerce-message,
    .woocommerce-error,
    .woocommerce-info {
      width: 100%;
    }
  }
}

.woocommerce {
  .woocommerce-additional-fields h3,
  .woocommerce-billing-fields h3,
  #ship-to-different-address {
    font-size: 21px;
    color: #fff;
    padding: 25px 30px;
    background-color: #25201b;
    border-radius: 5px;
  }

  #ship-to-different-address {
    display: flex;
    align-items: center;

    input {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    h3 {
      font-size: 21px;
      color: #fff;
      font-weight: 600;
    }
  }

  #place_order {
    margin-top: 30px;
  }

  form {
    .form-row {
      margin: 0;
      margin-top: 30px !important;

      &.form-row-first,
      &.form-row-last {
        width: calc(50% - 15px);
        float: left;
        padding: 0;
        margin: 0;
      }

      &.form-row-last {
        margin-left: 30px;
      }

      &.form-row-wide {
        width: 100%;
        float: none;
        display: inline-block;
        padding: 0;
        margin: 0;

        span em {
          margin-top: 10px;
        }

        .select2-selection {
          background-color: #f4f4f4;
          border: none;
          border-radius: 5px;
          background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="10"><path d="M1.415 1.414l8 8 8-8" fill="none" stroke="%236b635f" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>');
          background-position: right 20px top 50%;
          background-repeat: no-repeat;
          background-size: 16px;
          outline: none !important;

          &.select2-selection--single {
            height: auto;
            padding: 20px 25px;

            .select2-selection__arrow {
              display: none;
            }
          }
        }

        &#billing_address_1_field,
        &#billing_address_2_field,
        &#shipping_address_1_field,
        &#shipping_address_2_field {
          width: calc(50% - 15px);
          float: none;
          display: inline-block;
          padding: 0;
          margin: 0;
        }

        &#billing_address_2_field,
        &#shipping_address_2_field {
          margin-left: 30px;
        }
      }

      textarea {
        height: 180px;
        resize: none;
        line-height: 1.6;

        &::placeholder {
          line-height: 1.6;
        }
      }
    }
  }

  .order-infos {
    &.col {
      padding-top: 0;
      padding-bottom: 0;
    }

    margin-top: 60px;
    margin-bottom: 120px;

    .woocommerce-checkout-review-order-table {
      margin-bottom: 60px;
    }

    #order_review_heading {
      display: none;
    }

    #order_review {
      table {
        border: none !important;
        border-spacing: 0;
        border-collapse: collapse;
      }

      tbody,
      tfoot {
        tr {
          td,
          th {
            width: 50%;
            font-weight: 500;
            padding: 25px 30px;
            color: #6b635f;
            border-top: none;
          }
        }
      }

      tfoot {
        tr:last-of-type {
          th {
            border-bottom-left-radius: 10px;
          }
          td {
            border-bottom-right-radius: 10px;
          }
        }
      }

      tr {
        td,
        th {
          background-color: #f7f7f7;
        }

        &:last-of-type {
          td,
          th {
            background-color: #f9f9f9;
          }
        }
      }

      thead {
        tr {
          th {
            width: 75%;
            padding: 25px 30px;
            color: #fff;

            &:first-of-type {
              border-top-left-radius: 10px;
              background-color: #25201b !important;
            }

            &:last-of-type {
              width: 25%;
              border-top-right-radius: 10px;
              background-color: #25201b !important;
            }
          }
        }
      }

      .product-total bdi,
      .product-total span,
      .cart-subtotal bdi,
      .cart-subtotal span,
      .order-total bdi,
      .order-total span {
        font-weight: 600;
      }
    }
  }

  #payment {
    border: none;
    background-color: #fff;

    .payment_methods {
      padding: 0 !important;
    }

    .form-row.place-order {
      padding: 0;
      margin-top: 60px !important;

      #place_order {
        color: #25201b;
        background-color: #f7bc28;
        display: inline-block;
        padding: 25px 30px;
        border: none;
        border-radius: 5px;
        font-weight: 600;
        text-transform: uppercase;
        float: none;
        margin-top: 30px;
      }
    }
  }
}

@media only screen and (max-width: 1599px) {
  .woocommerce-checkout,
  .woocommerce-account {
    .woocommerce {
      margin-top: 48px;
      margin-bottom: 96px;
    }
  }

  .woocommerce {
    .woocommerce-additional-fields h3,
    .woocommerce-billing-fields h3,
    #ship-to-different-address {
      font-size: 17px;
      padding: 20px 24px;
      border-radius: 4px;
    }

    #ship-to-different-address {
      input {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }

      h3 {
        font-size: 17px;
      }
    }

    #place_order {
      margin-top: 24px;
    }

    form {
      .form-row {
        margin-top: 24px !important;

        &.form-row-first,
        &.form-row-last {
          width: calc(50% - 12px);
        }

        &.form-row-last {
          margin-left: 24px;
        }

        &.form-row-wide {
          span em {
            margin-top: 8px;
          }

          .select2-selection {
            border-radius: 4px;
            background-position: right 20px top 50%;
            background-size: 14px;

            &.select2-selection--single {
              padding: 16px 20px;
            }
          }

          &#billing_address_1_field,
          &#billing_address_2_field,
          &#shipping_address_1_field,
          &#shipping_address_2_field {
            width: calc(50% - 12px);
          }

          &#billing_address_2_field,
          &#shipping_address_2_field {
            margin-left: 24px;
          }
        }

        textarea {
          height: 144px;
        }
      }
    }

    .order-infos {
      margin-top: 48px;
      margin-bottom: 96px;

      .woocommerce-checkout-review-order-table {
        margin-bottom: 48px;
      }

      #order_review {
        tbody,
        tfoot {
          tr {
            td,
            th {
              width: 50%;
              padding: 20px 24px;
            }
          }
        }

        tfoot {
          tr:last-of-type {
            th {
              border-bottom-left-radius: 8px;
            }
            td {
              border-bottom-right-radius: 8px;
            }
          }
        }
        thead {
          tr {
            th {
              width: 75%;
              padding: 20px 24px;

              &:first-of-type {
                border-top-left-radius: 8px;
              }

              &:last-of-type {
                width: 25%;
                border-top-right-radius: 8px;
              }
            }
          }
        }
      }
    }

    #payment {
      .form-row.place-order {
        margin-top: 48px !important;

        #place_order {
          padding: 20px 24px;
          border-radius: 4px;
          margin-top: 24px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .woocommerce-checkout,
  .woocommerce-account {
    .woocommerce {
      margin-top: 36px;
      margin-bottom: 72px;
    }
  }

  .woocommerce {
    .woocommerce-form-coupon-toggle,
    .woocommerce-error {
      width: calc(90% - 20px);
    }

    .woocommerce-additional-fields h3,
    .woocommerce-billing-fields h3,
    #ship-to-different-address {
      font-size: 14px;
      padding: 16px 20px;
      border-radius: 4px;
    }

    #ship-to-different-address {
      input {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 6px;
      }

      h3 {
        font-size: 14px;
      }
    }

    #place_order {
      margin-top: 20px;
    }

    form {
      .form-row {
        margin-top: 20px !important;

        &.form-row-first,
        &.form-row-last {
          width: calc(50% - 10px);
        }

        &.form-row-last {
          margin-left: 20px;
        }

        &.form-row-wide {
          span em {
            margin-top: 8px;
          }

          .select2-selection {
            border-radius: 4px;
            background-position: right 16px top 50%;
            background-size: 12px;

            &.select2-selection--single {
              padding: 12px 16px;
            }
          }

          &#billing_address_1_field,
          &#billing_address_2_field,
          &#shipping_address_1_field,
          &#shipping_address_2_field {
            width: calc(50% - 10px);
          }

          &#billing_address_2_field,
          &#shipping_address_2_field {
            margin-left: 20px;
          }
        }

        textarea {
          height: 108px;
        }
      }
    }

    .order-infos {
      margin-top: 36px;
      margin-bottom: 72px;

      .woocommerce-checkout-review-order-table {
        margin-bottom: 36px;
      }

      #order_review {
        tbody,
        tfoot {
          tr {
            td,
            th {
              width: 50%;
              padding: 16px 20px;
            }
          }
        }

        tfoot {
          tr:last-of-type {
            th {
              border-bottom-left-radius: 8px;
            }
            td {
              border-bottom-right-radius: 8px;
            }
          }
        }
        thead {
          tr {
            th {
              width: 75%;
              padding: 16px 20px;

              &:first-of-type {
                border-top-left-radius: 8px;
              }

              &:last-of-type {
                width: 25%;
                border-top-right-radius: 8px;
              }
            }
          }
        }
      }
    }

    #payment {
      .form-row.place-order {
        margin-top: 36px !important;

        #place_order {
          padding: 16px 20px;
          border-radius: 4px;
          margin-top: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .woocommerce-checkout,
  .woocommerce-account {
    .woocommerce {
      margin-top: 28px;
      margin-bottom: 56px;
    }
  }

  .woocommerce {
    .woocommerce-form-coupon-toggle,
    .woocommerce-error {
      width: calc(90% - 16px);
    }

    .woocommerce-additional-fields h3,
    .woocommerce-billing-fields h3,
    #ship-to-different-address {
      font-size: 12px;
      padding: 12px 16px;
      border-radius: 3px;
    }

    #ship-to-different-address {
      input {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
      }

      h3 {
        font-size: 12px;
      }
    }

    #place_order {
      margin-top: 12px;
    }

    form {
      .form-row {
        margin-top: 12px !important;

        &.form-row-first,
        &.form-row-last {
          width: calc(50% - 8px);
        }

        &.form-row-last {
          margin-left: 16px;
        }

        &.form-row-wide {
          span em {
            margin-top: 8px;
          }

          .select2-selection {
            border-radius: 3px;
            background-position: right 12px top 50%;
            background-size: 10px;

            &.select2-selection--single {
              padding: 12px 16px;
            }
          }

          &#billing_address_1_field,
          &#billing_address_2_field,
          &#shipping_address_1_field,
          &#shipping_address_2_field {
            width: calc(50% - 8px);
          }

          &#billing_address_2_field,
          &#shipping_address_2_field {
            margin-left: 16px;
          }
        }

        textarea {
          height: 72px;
        }
      }
    }

    .order-infos {
      margin-top: 28px;
      margin-bottom: 56px;

      .woocommerce-checkout-review-order-table {
        margin-bottom: 28px;
      }

      #order_review {
        tbody,
        tfoot {
          tr {
            td,
            th {
              width: 50%;
              padding: 12px 16px;
            }
          }
        }

        tfoot {
          tr:last-of-type {
            th {
              border-bottom-left-radius: 6px;
            }
            td {
              border-bottom-right-radius: 6px;
            }
          }
        }
        thead {
          tr {
            th {
              width: 75%;
              padding: 12px 16px;

              &:first-of-type {
                border-top-left-radius: 6px;
              }

              &:last-of-type {
                width: 25%;
                border-top-right-radius: 6px;
              }
            }
          }
        }
      }
    }

    #payment {
      .form-row.place-order {
        margin-top: 28px !important;

        #place_order {
          padding: 12px 16px;
          border-radius: 3px;
          margin-top: 16px;
        }
      }
    }
  }
}
