header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 999;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search {
    display: inline-block;
    width: 100%;
    position: relative;

    opacity: 0;
    animation: animeOpacity 0.25s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 0.25s;

    form {
      display: flex;
      align-items: center;
      width: 100%;
    }

    input {
      display: inline-block;
      max-width: 100%;
    }

    button {
      display: inline-block;
      padding: 25px;
      background: transparent;
      position: absolute;
      right: 15px;

      img {
        width: 25px;
      }
    }
  }

  .navigation-header {
    margin-right: 15px;
  }

  & .logo {
    display: inline-flex;
  }

  .logo img {
    align-items: center;
    height: 22px;

    opacity: 0;
    animation: animeOpacity 0.25s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 0.25s;
  }

  & .container .col {
    padding-top: 0;
    padding-bottom: 0;
  }

  .link-cart,
  .link-account {
    margin-left: 30px;
  }

  .link-cart {
    position: relative;
  }

  .count-itens-cart {
    font-size: 9px;
    font-weight: 500;
    border-radius: 50%;
    padding: 2px 6px 1px 6px;
    color: #25201b;
    background-color: #f7bc28;
    position: absolute;
    left: 15px;
    top: -2px;
  }

  nav {
    display: inline-flex;
    align-items: center;
    opacity: 0;
    animation: animeOpacity 0.25s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 0.25s;
  }

  nav * {
    display: inline-block;
  }

  nav a img {
    height: 30px !important;
    width: 30px !important;
    margin-right: 5px;
  }

  .nav-dropdown,
  nav a {
    display: inline-flex;
    align-items: center;
    color: #6b635f;
    cursor: pointer;
  }

  .nav-dropdown {
    position: relative;
  }

  .nav-dropdown img {
    margin-left: 10px;
    height: 8px;
  }

  .btn-menu-mobile {
    display: none;
  }

  .container-dropdown {
    position: absolute;
    min-width: 300px;
    top: 60px;
    left: 30%;
    transform: translateX(-50%);
    width: auto;
    height: 0;
    padding: 0 60px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    z-index: 9999;
  }

  .container-dropdown.active {
    position: absolute;
    top: 70px;
    left: 30%;
    transform: translateX(-50%);
    background-color: #ffffff;
    height: auto;
    max-height: 80vh;
    overflow-y: scroll;
    padding: 45px 60px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1),
      0px 5px 10px rgba(0, 0, 0, 0.2);
  }

  .container-dropdown > li {
    display: block;
  }

  .container-dropdown > li img {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 0;
    margin-right: 10px;
  }

  .container-dropdown li a:hover {
    color: #5277da;
  }

  .container-dropdown > li + li {
    margin-top: 30px;
  }

  .container-dropdown .sub-menu {
    display: block;
  }

  .container-dropdown .sub-menu {
    display: block;
    width: 100%;

    li {
      display: block;
      width: 100%;
    }
  }

  .container-dropdown .sub-menu a::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #d6d6d6;
    margin-right: 12px;
  }
}

@media only screen and (max-width: 1599px) {
  header {
    padding-top: 16px;
    padding-bottom: 16px;

    .search {
      button {
        padding: 20px;
        right: 12px;

        img {
          width: 20px;
        }
      }
    }

    .logo img {
      height: 20px;
    }

    .navigation-header {
      margin-right: 12px;
    }

    .nav-dropdown img {
      margin-left: 8px;
      height: 7px;
    }

    nav a img {
      height: 24px !important;
      width: 24px !important;
      margin-right: 4px;
    }

    .link-cart,
    .link-account {
      margin-left: 24px;
    }

    .count-itens-cart {
      left: 12px;
      top: -2px;
    }

    .container-dropdown {
      top: 40px;
      min-width: 240px;
      left: 40%;
      transform: translateX(-50%);
      padding: 0 48px;
      overflow: hidden;
    }

    .container-dropdown.active {
      top: 50px;
      left: 40%;
      transform: translateX(-50%);
      padding: 36px 48px;
      border-radius: 4px;
    }

    .container-dropdown > li img {
      height: 20px;
      width: 20px;
      margin: 0;
      margin-right: 8px;
    }

    .container-dropdown > li + li {
      margin-top: 24px;
    }

    .container-dropdown .sub-menu a::before {
      width: 4px;
      height: 4px;
      margin-right: 12px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding-top: 12px;
    padding-bottom: 12px;

    .search {
      button {
        padding: 16px;
        right: 10px;

        img {
          width: 16px;
        }
      }
    }

    .logo img {
      height: 18px;
    }

    .nav-dropdown img {
      margin-left: 8px;
      height: 7px;
    }

    nav a img {
      height: 20px !important;
      width: 20px !important;
      margin-right: 4px;
    }

    .link-cart,
    .link-account {
      margin-left: 24px;
    }

    .count-itens-cart {
      left: 12px;
      top: -2px;
    }

    .btn-menu-mobile {
      position: relative;
      display: flex;
      align-items: center;
    }

    .btn-menu-mobile .btn-menu {
      position: relative;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      min-width: 20px;
      height: 20px;
      border-radius: 4px;
      background-color: transparent;
      margin-right: 10px;
    }

    .menu-btn-burger {
      width: 20px;
      height: 1px;
      border-radius: 1px;
      background-color: #6b635f;
      transition: all 0.2s ease-in-out;
    }

    .menu-btn-burger::after,
    .menu-btn-burger::before {
      content: "";
      display: block;
      position: absolute;
      width: 20px;
      height: 1px;
      border-radius: 1px;
      background-color: #6b635f;
      transition: all 0.2s ease-in-out;
    }

    .menu-btn-burger::before {
      transform: translateY(-8px);
    }

    .menu-btn-burger::after {
      transform: translateY(8px);
    }

    /* #region 1.2.Menu animation */
    .btn-menu-mobile.open .btn-menu {
      background-color: transparent;
    }

    .btn-menu-mobile.open .menu-btn-burger {
      transform: translateX(-25px);
      background-color: transparent;
    }

    .btn-menu-mobile.open .menu-btn-burger::before {
      transform: rotate(45deg) translate(20px, -20px);
    }

    .btn-menu-mobile.open .menu-btn-burger::after {
      transform: rotate(-45deg) translate(20px, 20px);
    }

    .navigation-header {
      display: none;
    }

    .btn-menu-mobile .nav-dropdown {
      position: absolute;
      left: 13%;
      transform: translateX(-50%);
    }

    .container-dropdown {
      top: 30px;
      min-width: 180px;
      padding: 0 48px;
      overflow: hidden;
    }

    .container-dropdown.active {
      top: 40px;
      padding: 36px 48px;
      border-radius: 4px;
    }

    .container-dropdown > li img {
      height: 20px;
      width: 20px;
      margin: 0;
      margin-right: 8px;
    }

    .container-dropdown > li + li {
      margin-top: 24px;
    }

    .container-dropdown .sub-menu a::before {
      width: 4px;
      height: 4px;
      margin-right: 12px;
    }
  }
}

@media only screen and (max-width: 850px) {
  header {
    .search.col {
      width: 33.33%;
    }

    .link-cart,
    .link-account {
      margin-left: 12px;
    }
  }
}

@media only screen and (max-width: 767px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;

    .logo img {
      height: 16px;
    }

    .search {
      button {
        padding: 12px;
        right: 8px;

        img {
          width: 12px;
        }
      }
    }

    .nav-dropdown img {
      margin-left: 8px;
      height: 7px;
    }

    .btn-menu-mobile {
      display: flex;
      width: 100%;
      justify-content: center;
      background-color: #ffffff;
      box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1);
      padding: 16px;
      box-sizing: border-box;
      position: fixed;
      left: 0;
      bottom: 0;
      align-items: center;
      z-index: 1;
    }

    .btn-menu-mobile .btn-menu {
      position: relative;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      min-width: 24px;
      height: 24px;
      z-index: 10;
    }

    .menu-btn-burger {
      width: 18px;
      height: 1px;
    }

    .menu-btn-burger::after,
    .menu-btn-burger::before {
      width: 18px;
      height: 1px;
    }

    .menu-btn-burger::before {
      transform: translateY(-6px);
    }

    .menu-btn-burger::after {
      transform: translateY(6px);
    }

    .btn-menu-mobile.open .menu-btn-burger {
      transform: translateX(-25px);
    }

    .btn-menu-mobile.open .menu-btn-burger::before {
      transform: rotate(45deg) translate(17.5px, -17.5px);
    }

    .btn-menu-mobile.open .menu-btn-burger::after {
      transform: rotate(-45deg) translate(17.5px, 17.5px);
    }

    .link-cart,
    .link-account {
      margin-left: 36px;
      z-index: 10;
    }

    .navigation-header {
      display: none;
    }

    .btn-menu-mobile .nav-dropdown {
      position: fixed;
      top: 0;
      left: 0;
    }

    .container-dropdown,
    .container-dropdown.active {
      position: fixed;
      height: calc(100vh - 151px);
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    }

    .container-dropdown {
      left: -160px;
      top: 65px;
      padding: 0 24px;
      border-radius: 0 8px 8px 0;
    }

    .container-dropdown {
      min-width: 280px;
      top: 85px;
      box-sizing: border-box;
      padding: 0 32px;
      overflow: hidden;
      z-index: -1;
    }

    .container-dropdown.active {
      left: 140px;
      padding: 24px 32px;
      border-radius: 0 8px 8px 0;
      z-index: -1;
    }

    .container-dropdown > li img {
      height: 20px;
      width: 20px;
      margin: 0;
      margin-right: 8px;
    }

    .container-dropdown > li + li {
      margin-top: 24px;
    }

    .container-dropdown .sub-menu li {
      margin-top: 12px;
    }

    .container-dropdown .sub-menu a::before {
      width: 4px;
      height: 4px;
      margin-right: 12px;
    }
  }
}
