/* SECTION DESTAQUES */
.ka-highlights,
.ka-best-sellers {
  margin-top: 120px;
  margin-bottom: 120px;
}

.ka-highlights .ka-title,
.ka-best-sellers .ka-title {
  display: block;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 1599px) {
  .ka-highlights,
  .ka-best-sellers {
    margin-top: 96px;
    margin-bottom: 96px;
  }
}

@media only screen and (max-width: 1100px) {
  .ka-highlights,
  .ka-best-sellers {
    margin-top: 72px;
    margin-bottom: 72px;
  }
}
