.wc_payment_methods {
  .payment_method_juno-credit-card {
    .payment_box {
      margin-top: 10px !important;

      .payment-method-description {
        margin-bottom: 30px;
      }
    }
  }

  .payment_method_juno-bank-slip {
    .payment-methods-title {
      margin-top: 10px;
    }

    .payment_box {
      margin-top: 10px !important;
    }
  }

  .payment-methods-title {
    display: inline-flex;
    align-items: center;

    label {
      display: inline-block;
      margin: 0 !important;
      width: auto;
      padding: 30px 60px;
      border: 3px solid #f4f4f4;
      background-color: #fff;
      border-radius: 10px;
      cursor: pointer;
    }

    input {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 !important;
      margin-right: 10px !important;
    }
  }

  .payment_box {
    padding: 60px !important;
    border-radius: 10px !important;
    margin: 0 !important;
    border: 3px solid #f4f4f4;
    background-color: #ffffff !important;

    input,
    select {
      width: 100% !important;
    }

    &::before {
      border: none !important;
    }

    fieldset {
      border: none !important;
      padding: 0 !important;
    }

    .juno-credit-card-card-wrapper {
      width: auto !important;
      max-width: 100% !important;
      margin: 0 !important;
      display: inline-block;

      .jp-card .jp-card-back,
      .jp-card .jp-card-front {
        background-color: #25201b;
        color: #afafaf;
      }

      .jp-card .jp-card-back .jp-card-shiny,
      .jp-card .jp-card-front .jp-card-shiny {
        top: 0px !important;
        width: 40px !important;
        height: 30px !important;
      }

      .jp-card-back {
        .jp-card-shiny {
          display: none;
        }

        .jp-card-cvc {
          top: 42.5% !important;
        }
      }

      .jp-card-lower {
        .jp-card-number {
          font-size: 20px !important;
          margin-bottom: 32px !important;
          font-weight: 600 !important;
        }

        .jp-card-name {
          font-size: 12px !important;
          font-weight: 600 !important;
        }

        .jp-card-expiry {
          font-size: 12px !important;
          min-width: 75px !important;
          font-weight: 500 !important;

          &::before,
          &::after {
            display: none !important;
          }
        }
      }
    }

    .wc-payment-form-fields {
      display: table;
      width: 100%;

      .form-row {
        width: calc(50% - 15px);
        display: inline-block;
        border-spacing: 0;
        border-collapse: collapse;
        margin: 0 !important;
        margin-top: 30px !important;

        &:nth-child(1) {
          input {
            text-transform: uppercase !important;
          }
        }

        &:last-child {
          width: 100% !important;
        }

        &.form-row-wide:nth-child(2),
        &.form-row-last {
          margin-left: 30px !important;
        }

        input {
          margin: 0 !important;
        }

        &.save-card {
          label {
            display: flex;
            align-items: center;

            input {
              width: 20px !important;
              height: 20px;
              margin-right: 10px !important;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

.payment_methods {
  border: none !important;
}

@media only screen and (max-width: 1599px) {
  .wc_payment_methods {
    .payment_method_juno-credit-card {
      .payment_box {
        margin-top: 8px !important;

        .payment-method-description {
          margin-bottom: 24px;
        }
      }
    }

    .payment_method_juno-bank-slip {
      .payment-methods-title {
        margin-top: 8px;
      }

      .payment_box {
        margin-top: 8px !important;
      }
    }

    .payment-methods-title {
      label {
        padding: 24px 48px;
        border-radius: 8px !important;
      }

      input {
        width: 16px;
        height: 16px;
        margin-right: 8px !important;
      }
    }

    .payment_box {
      padding: 48px !important;
      border-radius: 8px !important;

      .juno-credit-card-card-wrapper {
        .jp-card .jp-card-back .jp-card-shiny,
        .jp-card .jp-card-front .jp-card-shiny {
          top: 0px !important;
          width: 40px !important;
          height: 30px !important;
        }

        .jp-card-back {
          .jp-card-cvc {
            top: 42.5% !important;
          }
        }

        .jp-card-lower {
          .jp-card-number {
            font-size: 20px !important;
            margin-bottom: 32px !important;
            font-weight: 600 !important;
          }

          .jp-card-name {
            font-size: 12px !important;
            font-weight: 600 !important;
          }

          .jp-card-expiry {
            font-size: 12px !important;
            min-width: 75px !important;
            font-weight: 500 !important;
          }
        }
      }

      .wc-payment-form-fields {
        .form-row {
          margin-top: 24px !important;

          &.form-row-wide:nth-child(2),
          &.form-row-last {
            margin-left: 24px !important;
          }

          &.save-card {
            label {
              input {
                width: 16px !important;
                height: 16px;
                margin-right: 8px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .wc_payment_methods {
    .payment_method_juno-credit-card {
      .payment_box {
        margin-top: 6px !important;

        .payment-method-description {
          margin-bottom: 20px;
        }
      }
    }

    .payment_method_juno-bank-slip {
      .payment-methods-title {
        margin-top: 6px;
      }

      .payment_box {
        margin-top: 6px !important;
      }
    }

    .payment-methods-title {
      label {
        padding: 20px 40px;
        border-radius: 8px !important;
      }

      input {
        width: 12px;
        height: 12px;
        margin-right: 6px !important;
      }
    }

    .payment_box {
      padding: 40px !important;
      border-radius: 8px !important;

      .juno-credit-card-card-wrapper {
        .jp-card .jp-card-back .jp-card-shiny,
        .jp-card .jp-card-front .jp-card-shiny {
          top: 0px !important;
          width: 40px !important;
          height: 30px !important;
        }

        .jp-card-back {
          .jp-card-cvc {
            top: 42.5% !important;
          }
        }

        .jp-card-lower {
          .jp-card-number {
            font-size: 20px !important;
            margin-bottom: 32px !important;
            font-weight: 600 !important;
          }

          .jp-card-name {
            font-size: 12px !important;
            font-weight: 600 !important;
          }

          .jp-card-expiry {
            font-size: 12px !important;
            min-width: 75px !important;
            font-weight: 500 !important;
          }
        }
      }

      .wc-payment-form-fields {
        .form-row {
          margin-top: 20px !important;

          &.form-row-wide:nth-child(2),
          &.form-row-last {
            margin-left: 20px !important;
          }

          &.save-card {
            label {
              input {
                width: 12px !important;
                height: 12px;
                margin-right: 6px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .wc_payment_methods {
    .payment_method_juno-credit-card {
      .payment_box {
        margin-top: 4px !important;

        .payment-method-description {
          margin-bottom: 16px;
        }
      }
    }

    .payment_method_juno-bank-slip {
      .payment-methods-title {
        margin-top: 4px;
      }

      .payment_box {
        margin-top: 4px !important;
      }
    }

    .payment-methods-title {
      label {
        padding: 16px 32px;
        border-radius: 6px !important;
      }

      input {
        width: 9px;
        height: 9px;
        margin-right: 6px !important;
      }
    }

    .payment_box {
      padding: 32px !important;
      border-radius: 6px !important;

      .juno-credit-card-card-wrapper {
        .jp-card-container {
          width: 210px;
          height: 120px;

          .jp-card {
            min-width: 210px;
            min-height: 120px;
          }
        }

        .jp-card .jp-card-front .jp-card-lower,
        .jp-card .jp-card-back .jp-card-lower {
          width: 85%;
          left: 7.5%;
          bottom: 12px;
        }

        .jp-card .jp-card-back .jp-card-shiny,
        .jp-card .jp-card-front .jp-card-shiny {
          top: 4px !important;
          width: 30px !important;
          height: 19px !important;
        }

        .jp-card-back {
          .jp-card-cvc {
            top: 42% !important;
            font-size: 10px !important;
          }
        }

        .jp-card-lower {
          .jp-card-number {
            font-size: 13px !important;
            margin-bottom: 16px !important;
            font-weight: 600 !important;
          }

          .jp-card-name {
            font-size: 10px !important;
            font-weight: 600 !important;
          }

          .jp-card-expiry {
            font-size: 10px !important;
            min-width: 75px !important;
            font-weight: 500 !important;
          }
        }
      }

      .wc-payment-form-fields {
        .form-row {
          margin-top: 16px !important;
          width: 100% !important;

          &.form-row-wide:nth-child(2),
          &.form-row-last {
            margin-left: 0px !important;
          }

          &.save-card {
            label {
              input {
                width: 9px !important;
                height: 9px;
                margin-right: 4px !important;
              }
            }
          }
        }
      }
    }
  }
}
